<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- le tab for Request Equipment -->
    <ion-tab-button tab="request-equipment">
      <ion-label> {{ 'Request Equipment'  | uppercase }}</ion-label>
    </ion-tab-button>

    <!-- le tab for Active Rentals -->
    <ion-tab-button tab="active-rentals">
      <ion-label>{{ 'Active Rentals'  | uppercase }}</ion-label>
    </ion-tab-button>

    <!-- le tab for Open Requests -->
    <ion-tab-button tab="open-requests">
      <ion-label>{{ 'Open Requests'  | uppercase }}</ion-label>
    </ion-tab-button>

    <!-- le tab for My Yard -->
    <ion-tab-button tab="my-yard">
      <ion-label>{{ 'My Yard'  | uppercase }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
