.heading{
    background: var(--ion-color-cat-slate);
    padding: 8px 16px;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

hr{
    border-top: 1px solid lightgray;
    margin: 8px 0;
}
