ion-list{
    ion-img{
        height: 18px;
        margin-right: 5px;
    }
    ion-label{
        padding: 8px 0;
        --color: gray;
        font-size: 21px;
    }
}

.subcategory{
    background: var(--ion-color-cat-black);
    padding: 8px 16px;
    width: 100%;
    color: var(--ion-color-cat-yellow);
    text-decoration: underline;
    ion-label{
        font-size: 15px;
    }
}